<!-- <h1>Restaurants#show</h1>
<p>Find me in app/views/restaurants/show.html.erb</p> -->

<h1> <%= @restaurant.name %> </h1>
<p><%= @restaurant.category %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.address %></p>

<%= link_to "Add a review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>

<p> <%= @restaurant.reviews.first.content %> </p>
